@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");


html {
  width: 100vw;
}

body {
width: 100vw;
overflow-x: hidden;
box-sizing: border-box;
}

@layer base {
  body {
    @apply box-border w-[100vw] antialiased
     overflow-x-hidden;
  }

  h1 {
    @apply m-0 text-[54px] font-lato font-bold;
  }

  h2 {
    @apply m-0 text-26xl font-semibold;
  }

  h3 {
    @apply m-0 text-[24px] font-semibold;
  }
  article p {
    @apply mb-2;
  }

  article ul {
    @apply list-disc;
  }
  article ul li {
    @apply ml-4;
  }

  table, th, td {
    border: 1px solid;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px
  }
}
